@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;700&display=swap');

@font-face {
  font-family: RoxboroughCF-Bold;
  src: url(../assets/fonts/RoxboroughCF-Bold.otf);
}

html {
  font-size: 100%; /* 100% = 16px */
}

body{
  margin: 0;
  padding: 0;
  background-color: #FFEADD;
  background-image: url(../assets/images/grain.png);
  background-position: center 0;
  color: #1E0800;
}

/* .home-body {
display: fixed;
top: 0;
bottom: 0;
left: 0;
right: 0;
} */

.flex-row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

a {
  text-decoration: none;
  cursor: pointer;
  color:#1E0800;
}

a:hover {
  color: #D97A61;
}

/* Header */

.header{
  position: relative;
  justify-content: space-between;
  margin: 2rem 2rem 0 2rem;
  height: 0rem;
  min-height: 6vh;
  overflow-y: hidden;
  transition: height 0.8s cubic-bezier(0.26, -0.01, 0,  1.01);
}

.header__logo a{
  display: block;
  font-family: 'RoxboroughCF-Bold';
  font-size: 1.85rem;
}

.header__menu{
  display: flex;
  align-items: center;
}

.header__menu a{
  padding: 0 1rem;
  font-family: 'Assistant', sans-serif;
  font-size: 0.94rem;
}

.header__menu .header__menu-btn{
  border: 0.1em solid #D97A61;
  padding: 0.35em 1.5em;
  border-radius: 0.25em;
  font-family: 'Assistant', sans-serif;
  font-size: 0.94rem;
  text-align: center;
}

.header__menu .header__menu-btn:hover{
 background-color: #D97A61; 
 color: antiquewhite;
}

.toggle__collapse{
  position: absolute;
  top: 0%;
  width: 100%;
  cursor: pointer;
  display: none;
}

.toggle__collapse .toggle__icons{
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 0 0 0;
}

.collapse{
  height: 50%;
}

@media only screen and (max-width: 600px){
  .header{
    flex-direction: column;
    display: block;
  }

  .header__menu{
    flex-direction: column;
    align-items: flex-start;
    margin: 4rem 0 4rem 0;
  }

  .header__menu a {
    padding: 0 0 0.5rem 0;
    font-size: 1.5rem;
    font-weight: 500;
  }

  .header__menu .header__menu-btn{
    width: 82%;
    margin-top: 20px;
    font-size: 1.13rem;
    padding: 0.75rem 1.5rem;
  }

  .toggle__collapse{
    display: initial;
  }

}

/* Main */

main {
  width: 100%;
  height: auto;
}

.home-intro-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 1.25rem;
}

.home-intro-container h1 {
  font-family:'RoxboroughCF-Bold';
  font-size: 3.1rem;
  margin-top: 1.25rem;
  margin-bottom: 0.63rem;
}

.home-intro-container h2 {
  font-family:'Assistant', sans-serif;
  font-weight: 400;
  font-size: 1.25rem; 
  margin: 0;
}

.home-proyects-container {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2.5rem 2.5rem 2.5rem;
  text-align: center;
}

.home-proyects-container h3 {
  margin: 0.63rem 0px 0.63rem;
  font-family: 'Assistant', sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  text-align: start;
}

.home-proyects-container .scroll-container {
  width: 100%;
}

.home-proyects-container .scroll-container .carousel{
  height: 25rem;
  width: 90%; 
  margin: 1.25rem auto;
  overflow: hidden;
  position: relative;
}

.home-proyects-container .scroll-container .carousel .slider {
  display: flex;
  height: 100%;
  width: 200%;
}

.home-proyects-container .scroll-container .carousel .slider section {
  flex-basis: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-proyects-container .scroll-container .carousel .slider .article-container{
  display: inline-flex;
  margin: 15px 5px 20px 20px;
  text-align: left;
}
 
.home-proyects-container .carousel .slider .article-container .box-image-container {
  width: 220px;
  height: 300px;
  background-color: rgba(226, 163, 140,0.3);
  border-radius: 6%;
  margin-bottom: 15px;
  display: flex;
  text-align: center;
  align-items: center;
  z-index: 1;
}

.home-proyects-container .carousel .slider .article-container .box-image-container:hover {
  transform: scale(1.15);
  background-color: rgb(217, 123, 97,0.4);
}

.home-proyects-container .carousel .slider .article-container .box-image-container img {
  width: 90%;
}

.home-proyects-container .carousel .slider .article-container .title-container {
  margin-top: 30px;
  font-family:  'Assistant', sans-serif;
  font-size: 18px;
}

.home-proyects-container .carousel .slider .article-container .article-tag {
  font-family: 'RoxboroughCF-Bold';
  font-size: 15px;
  letter-spacing: 2;
  writing-mode: vertical-rl;
  margin-left: 20px;
}

/* Footer */

.footer {
  width: 100%;
  height: 3.75rem;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
}

.footer__container {
  width: 96%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-clip: padding-box;  
  font-size: 0.85rem;
  font-family:'Assistant', sans-serif;
  border-top: 0.06rem solid rgb(30, 8, 0, 0.2);
}

.footer__social-media {
  justify-self: left;
  margin-left: 2rem;
  display: flex;
  align-items: center;
}

.footer__social-media img {
  display: flex;
  align-items: center;
  width: 1.56rem;
  margin-left: 0.5rem;
}

.footer__copyright {
  display: flex;
  align-items: center;
  justify-self: right;
  margin-right: 2rem;
}

/* Profile page */

.profile-tittle-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin: 30px 0 30px;
}

.profile-tittle-container h1 {
  font-family:'RoxboroughCF-Bold';
  font-size: 35px;
  margin: 0;
}

.profile-main-container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 30px;
}

.profile-main-container .profile-resume-container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.profile-main-container .profile-image-container img{
  width: 254px;
}

.profile-main-container .profile-image-container  p{
  width: 254px;
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  background-color: #E2A38C;
  color: #FFEADD;
  padding: 10px 10px 10px;
  border-radius: 4px;
}

.profile-main-container .profile-description-container {
  width: 80%;
  margin: 20px auto;
}

.container-slider {
  margin: auto;
  overflow: hidden;
  /* position: relative; */
}

.carousel-inner {
  display: flex;
  width: 300%;
  height: 380px;
  margin-left: -100%;
}

.slider-section {
  width: 100%;
  padding-right: 100px;
}

.slider-section h2 {
  margin: 0px 0 30px 0;
  font-family: 'Assistant', sans-serif;
  font-size: 24px;
}

.slider-section p {
  margin: 30px 0 30px 0px;
  font-family: 'Assistant', sans-serif;
  font-size: 17px;
}

.profile-control {
  display: flex;
  transform: translateY(-50%);
  cursor: pointer;
  margin-top: 50px;
}

.profile-control img {
  width: 40px;
  margin-right: 10px;
}

#my-img-left:hover {
  content: url(../assets/icons/previous-hover.png);
}

#my-img-right:hover {
  content: url(../assets/icons/next-hover.png);
}

/* Primer Taller JS */

.taller1-container {
  padding: 0 40px;
}

.taller1-title-container{
  margin: 30px 0 30px;
}

.taller1-container h1 {
  font-family: 'RoxboroughCF-Bold';
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
  margin-bottom: 5px;
}

.taller1-container h2 {
  font-size: 20px;
  font-family:'Assistant', sans-serif;
  text-align: center;
  margin-top: 0;
}

.taller1-container .figures-container {
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .taller1-container {
    height: 79vh;
    background-color: #FFEADD;
  }
}

.button {
  border: 2px solid;
  border-radius: 7px;
  padding: 6px 12px;
  font: 600 1.125rem/1.6875rem 'Assistant', sans-serif;
}

.button:hover {
  box-shadow: 4px 2px #888888;
}

.coralprimary {
  background-color: #D97A61;
  color: white;
  border: 2px solid #D97A61;
  width: 100%;
}

.coralsecondary {
  background-color: white;
  color: #D97A61;
  width: 100%;
}

.card {
  background-color: rgba(226, 163, 140,0.3);
  display: flex;
  flex-direction: column;
  padding-block: 30px;
  gap:8px;
  border-radius: 17px;
}

@media (max-width: 1024px) {
  .card {
    width: 100%;
    margin-bottom: 40px;
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .card {
    padding-inline: 24px;
    min-width: 295px;
    width: 28%;
    max-width: 384px;
  }
}

.card-title {
  font-size: 22px;
  font-family:'RoxboroughCF-Bold';
  margin: 0px 0 10px;
  color: #1E0800;
}

.card-form {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 8px;
}

.card-form-subtitle{
  font-size: 16px;
  font-family:'Assistant', sans-serif;
  margin: 5px;
}

.div-input-cuadrado {
  display: flex;
  gap: 16px;
}

.div-input-cuadrado input {
  padding: 8px;
  width: 100%;
}

.card-buttons {
  gap: 16px;
  display: flex;
}

.card-form-result {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 2px solid #312f2f;
  border-radius: 7px;
}

.card-form-result p {
  font-size: 15px; 
  font-family: 'Assistant', sans-serif;
  margin: 0;
}

.div-buttons-container {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

.div-button-repository{
display: flex;
justify-content: flex-end;
align-items: center;
}

.div-button-repository a {
  border:0.1em solid #D97A61;
  padding:0.35em 1.2em;
  margin:0 0.3em 0.3em 0;
  border-radius:0.12em;
  box-sizing: border-box;
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  text-align:center;
}
.div-button-repository a:hover{
 background-color: #D97A61; 
 color: antiquewhite;
} 

.div-arrows-container img {
  width: 40px;
}

.footer-primertaller{
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  margin-top: 35px;
}

/* Links page */
.links-main{
  margin: 0 auto;
}

.links-title-container{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0 30px;
}

.links-title-container h1 {
  font-family: 'RoxboroughCF-Bold';
  margin: 0;
  font-size: 35px;
  text-align: center;
}

/* Buscador de contenido */

.links-search-container{
  width: 530px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
}

.links-input-container {
  width: 530px;
  border-radius: 100px;
  border: 1px solid rgb(30, 8, 2, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-input-container input {
  display: block;
  width: 450px;
  height: 40px;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #FFEADD;
}

.links-input-container:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: rgb(30, 8, 2) ;
}

.search-icon {
  background-image: url(../assets/icons/search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

#box-search {
  position: absolute;
  top: 204px;
  left: 50%;
  transform: translateX(-50%);
  width: 525px;
  background: #FFEADD;
  z-index: 3;
  overflow: hidden;
  display: none;
}

#box-search li a{
  display: block;
  width: 525px;
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  color: #777777;
  padding: 12px 20px;
}

#box-search li a:hover{
  background:#ECC0AD;
}

.links-list-container {
  display: flex;
  justify-content: center;
}

.links-list-container ul {
  width: 70%;
  margin: 20px 0 0 0;
  padding: 0;
}

.links-list-container li {
  list-style: none;
  border:0.1em solid rgb(30, 8, 2, 0.5);
  background-color: rgb(236, 192, 173, 0.3) ;
  padding:1.25em 1.25em;
  margin:0 0 1.3em 0;
  border-radius:0.45em;
  box-sizing: border-box;
}

.links-list-container a {
  font-family: 'Assistant', sans-serif;
  font-size: 25px;
  margin: 0;
}

.links-list-container p {
  font-family: 'Assistant', sans-serif;
  font-size: 15px;
  color: #D97A61;
  margin: 5px 0 0 0;
}

.links-footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
}