@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;700&display=swap");

@font-face {
  font-family: RoxboroughCF-Bold;
  src: url(../assets/fonts/RoxboroughCF-Bold.otf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 100%; /* 100% = 16px */
  background-color: #faf9f5;
  background-image: url(../assets/images/grain.png);
  background-position: center 0;
  color: #212121;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
  color: #212121;
}

.link {
  text-decoration: underline;
  font-weight: 500;
}

/* Home Page */

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 1.5rem 0 2rem 2rem;
  position: fixed;
  left: 0; top: 0; bottom: 0;
  width: 18rem;
}

.sidebar__logo {
  font-family: "Assistant", sans-serif;
  font-size: 1.15rem;
  font-weight: 500;
  transition: 0.2s;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
}

.sidebar__nav a {
  padding: 0.3rem 0;
  font-family: "Assistant", sans-serif;
  font-size: 0.8rem;
  transition: 0.2s;
}

.sidebar__nav a:hover {
  font-weight: 600;
 }
 
.sidebar__social-media {
  margin: 0.6rem 0 0 0;
}

.sidebar__social-media img {
  width: 1.4rem;
  margin-right: 0.25rem;
  opacity: 0.2;
}

.sidebar__social-media img:hover {
  opacity: 1;
}

.home {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 18rem; right: 8rem;
  /* overflow: auto; */
}

.home__intro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 4rem 0;
  min-height: 100vh;
}

.home__intro h1 {
  font-family: "RoxboroughCF-Bold";
  font-size: 3.5rem;
  line-height: 4rem;
  margin: 0;
}

.home__intro h2 {
  font-family: "Assistant", sans-serif;
  font-weight: 500;
  font-size: 1.25rem;
  margin: 1rem 0 0 0;
}

.home__projects {
  display: flex;
  flex-direction: column;
  padding: 2rem 0;
}

.home__projects h2 {
  font-family: "Assistant", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  text-align: start;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 0 2rem 0 0;
}

.home__projects h2 span {
  background: #faf9f5;
  padding: 0 10px 0 0;
}

.first-project {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 7rem;
}

.second-project{
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
  width: 40rem;
}

.third-project{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 7rem;
}

.container {
  width: 40rem;
}

.home__article h1 {
  font-size: 2.5rem;
  font-family: "RoxboroughCF-Bold";
}

.home__article img {
  width:100%;
  margin: 1.5rem 0;
  filter: grayscale();
  transition: filter 0.1s ease-in-out;
  cursor: pointer;
}

.home__article img:hover {
  filter: none;
}

.home__projects__subtitle h2{
  font-family: "Assistant", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  text-transform: uppercase;
  width: 100%;
  text-align: end;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 0.5rem 0 1.5rem 0;
}

.home__projects__subtitle h2 span {
  background: #faf9f5;
  padding: 0 0 0 10px;
}

.home__projects__description {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.home__projects__description p {
  font-family: "Assistant", sans-serif;
  margin: 0.5rem 0;
  text-align: start;
  word-wrap: break-word;
  width: 26rem;
}

.home__services {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.home__services h2, .home__education h2{
  font-family: "Assistant", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  width: 100%;
  text-align: start;
  border-bottom: 1px solid #000;
  line-height: 0.1em;
  margin: 0.5rem 2rem 0 0;
}

.home__services h2 span, .home__education h2 span {
  background: #faf9f5;
  padding: 0 10px 0 0;
}

.home__services__grid{
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  margin: 4rem 0;
}

.home__education__grid {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-template-rows: 1fr 1fr 1fr ;
  margin: 4rem 0;
}

.home__services__grid h1, .home__education__grid h1{
  font-size: 1.5rem;
  font-family: "RoxboroughCF-Bold";
  margin: 0.5rem 0;
}

.home__services__grid  p, .home__education__grid p {
  font-family: "Assistant", sans-serif;
  margin: 1rem 0;
}

.home__education {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: center;
}

.home__education__grid ul {
  padding-left: 1rem;
  font-family: "Assistant", sans-serif;
}

.slider {
  overflow: hidden;
  width: 40rem;
}

.wrapper{
  width: 100%;
  display: flex;
  animation: slide 16s infinite;
}

@keyframes slide{
  0%{
      transform: translateX(0);
  }
  25%{
      transform: translateX(0);
  }
  30%{
      transform: translateX(-100%);
  }
  50%{
      transform: translateX(-100%);
  }
  55%{
      transform: translateX(-200%);
  }
  75%{
      transform: translateX(-200%);
  }
  80%{
      transform: translateX(-300%);
  }
  100%{
      transform: translateX(-300%);
  }
}

.scroll {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 2rem;
  right: 2rem;
}

.scroll img {
  width: 2rem;
}

.scroll p {
  font-family: "Assistant", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}


/* Primer Taller JS */

.taller1-container {
  padding: 0 40px;
}

.taller1-title-container {
  margin: 30px 0 30px;
}

.taller1-container h1 {
  font-family: "RoxboroughCF-Bold";
  font-size: 35px;
  text-align: center;
  margin-bottom: 10px;
  margin-bottom: 5px;
}

.taller1-container h2 {
  font-size: 20px;
  font-family: "Assistant", sans-serif;
  text-align: center;
  margin-top: 0;
}

.taller1-container .figures-container {
  height: 80%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

@media (min-width: 1024px) {
  .taller1-container {
    height: 79vh;
    background-color: #ffeadd;
  }
}

.button {
  border: 2px solid;
  border-radius: 7px;
  padding: 6px 12px;
  font: 600 1.125rem/1.6875rem "Assistant", sans-serif;
}

.button:hover {
  box-shadow: 4px 2px #888888;
}

.coralprimary {
  background-color: #d97a61;
  color: white;
  border: 2px solid #d97a61;
  width: 100%;
}

.coralsecondary {
  background-color: white;
  color: #d97a61;
  width: 100%;
}

.card {
  background-color: rgba(226, 163, 140, 0.3);
  display: flex;
  flex-direction: column;
  padding-block: 30px;
  gap: 8px;
  border-radius: 17px;
}

@media (max-width: 1024px) {
  .card {
    width: 100%;
    margin-bottom: 40px;
    padding: 20px;
  }
}

@media (min-width: 1024px) {
  .card {
    padding-inline: 24px;
    min-width: 295px;
    width: 28%;
    max-width: 384px;
  }
}

.card-title {
  font-size: 22px;
  font-family: "RoxboroughCF-Bold";
  margin: 0px 0 10px;
  color: #212121;
}

.card-form {
  display: flex;
  height: 100%;
  flex-direction: column;
  gap: 8px;
}

.card-form-subtitle {
  font-size: 16px;
  font-family: "Assistant", sans-serif;
  margin: 5px;
}

.div-input-cuadrado {
  display: flex;
  gap: 16px;
}

.div-input-cuadrado input {
  padding: 8px;
  width: 100%;
}

.card-buttons {
  gap: 16px;
  display: flex;
}

.card-form-result {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 10px;
  border: 2px solid #312f2f;
  border-radius: 7px;
}

.card-form-result p {
  font-size: 15px;
  font-family: "Assistant", sans-serif;
  margin: 0;
}

.div-buttons-container {
  width: 100%;
  height: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 10px;
}

.div-button-repository {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.div-button-repository a {
  border: 0.1em solid #d97a61;
  padding: 0.35em 1.2em;
  margin: 0 0.3em 0.3em 0;
  border-radius: 0.12em;
  box-sizing: border-box;
  font-family: "Assistant", sans-serif;
  font-size: 15px;
  text-align: center;
}
.div-button-repository a:hover {
  background-color: #d97a61;
  color: antiquewhite;
}

.div-arrows-container img {
  width: 40px;
}

.footer-primertaller {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
  margin-top: 35px;
}

/* Links page */
.links-main {
  margin: 0 auto;
}

.links-title-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px 0 30px;
}

.links-title-container h1 {
  font-family: "RoxboroughCF-Bold";
  margin: 0;
  font-size: 2.25rem;
  text-align: center;
  padding-bottom: 0.75rem;
}

.links-title-container h2 {
  font-family: "Assistant", sans-serif;
  margin: 0;
  font-size: 1.13rem;
  font-weight: 400;
  text-align: center;
}

/* Buscador de contenido */

.links-search-container {
  width: 530px;
  margin: 0 auto;
  margin-bottom: 25px;
  margin-top: 25px;
}

.links-input-container {
  width: 530px;
  border-radius: 100px;
  border: 1px solid rgb(30, 8, 2, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.links-input-container input {
  display: block;
  width: 450px;
  height: 40px;
  font-size: 15px;
  border: none;
  outline: none;
  background-color: #ffeadd;
}

.links-input-container:hover {
  box-shadow: 0 1px 6px 0 #20212447;
  border-color: rgb(30, 8, 2);
}

.search-icon {
  background-image: url(../assets/icons/search.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 18px;
  height: 18px;
  /* cursor: pointer; */
}

#box-search {
  position: absolute;
  top: 204px;
  left: 50%;
  transform: translateX(-50%);
  width: 525px;
  background: #ffeadd;
  /* z-index: 3; */
  overflow: hidden;
  display: none;
}

#box-search li a {
  display: block;
  width: 525px;
  font-family: "Assistant", sans-serif;
  font-size: 15px;
  color: #777777;
  padding: 12px 20px;
}

#box-search li a:hover {
  background: #ecc0ad;
}

.links-list-container {
  display: flex;
  justify-content: center;
}

.links-list-container ul {
  width: 70%;
  margin: 20px 0 0 0;
  padding: 0;
}

.links-list-container li {
  list-style: none;
  border: 0.1em solid rgb(30, 8, 2, 0.5);
  background-color: rgb(236, 192, 173, 0.3);
  padding: 1.25em 1.25em;
  margin: 0 0 1.3em 0;
  border-radius: 0.45em;
  box-sizing: border-box;
}

.links-list-container a {
  font-family: "Assistant", sans-serif;
  font-size: 25px;
  margin: 0;
}

.links-list-container p {
  font-family: "Assistant", sans-serif;
  font-size: 15px;
  color: #d97a61;
  margin: 5px 0 0 0;
}

.links-footer {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  position: relative;
  bottom: 0;
}
