<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Footer</title>
</head>
<body>
  <footer class="footer">
    <div class="footer__container">
      <div class="footer__social-media">
        <p>Let's connect:</p>
        <a href="https://github.com/yahacoral"><img src="./assets/icons/github.png" alt="logo de github"></a>
        <a href="https://www.linkedin.com/in/yahairacollado/"><img src="./assets/icons/linkedin.png" alt="logo de linkedin"></a>
      </div>
     <div class="footer__copyright">
      <p>©2021 Yahaira Collado.</p>
     </div>
    </div>
  </footer>
</body>
</html>