<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Header</title>
</head>
<body>
  <header class="header flex-row">
    <section class="header__logo">
      <a href="index.html">YC</a>
    </section>
    <section class="toggle__collapse">
      <div class="toggle__icons">
        <img class="icon" src="./assets/icons/menu-icon.png" alt="menu icon">
      </div>
    </section>
    <section class="header__menu flex-row">
      <a href="./profile.html">About me</a>
      <a href="/">Blog</a>
      <a href="./links.html" >Links</a>
      <a class="header__menu-btn" href="mailto:yahairavittoria@gmail.com">Get in touch</a>
   </section>
  </header>
</body>
</html>